body{
    background-color: rgb(5, 36, 63);
}
*{
   color:  white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lhs{
    
    position: relative;

}
.text{
   font-size: 50px;
   position: relative;
   left: -70px;
   
}
.text1{
    position: relative;
    top: -95px;
    left: 45px;
}
.tog{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 95px;
    top: -90px;
}
.text2{
    position: relative;
    top:-15px;
line-height: 38px;
}
.icons{
   
    margin-right: -50px; 
    line-height: 15px;
}
#id1{
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-right: 3px;
  
    background-color: blueviolet;
}
 .img1{
    
  position: relative;
 left:600px;
 top: -650px;
 
 
 
 }
 body{
    overflow: hidden;
 }